<div class="card">

    {% include "form/partials/header" with {"section": section} %}

    <div class="card-block">

        {% include "form/partials/fields" with {"fields": form.fields.base().pluck('field_name').all()} %}

    </div>
</div>
