<script type="text/javascript">
    {{ asset_inline('root::js/modal/filter.js') }}
</script>

<form class="modal-filter">
    <input type="text" placeholder="{{ trans('message.search') }}..." class="form-control">
</form>
