{{ asset_add("scripts.js", "root::js/table/jquery-sortable.js") }}
{{ asset_add("scripts.js", "root::js/tree/tree.js") }}

{% import "tree/macro" as macro %}

{% block content %}

    <div class="container-fluid">

        {% if not tree.items.empty() %}
            <ul class="tree tree--sortable sortable">
                {{ macro.tree(tree.items.root(), tree) }}
            </ul>
        {% else %}
            <div class="card">
                <div class="card-block">
                    {{ trans(tree.options.get('no_results_message', 'message.no_results')) }}
                </div>
            </div>
        {% endif %}

    </div>

{% endblock %}
